################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cpsc5031_hw6/bin/Debug/netcoreapp3.1
/cpsc5031_hw6/obj/Debug/netcoreapp3.1
/cpsc5031_hw6/obj
/.vs/cpsc5031_hw6/v16/.suo
/GraphVizTestProject/bin/Debug/netcoreapp3.1
/GraphVizTestProject/obj/Debug/netcoreapp3.1
/GraphVizTestProject/obj
/.vs/cpsc5031_hw6/v16/TestStore/0/testlog.manifest
/.vs/cpsc5031_hw6/v16/TestStore/0
/.vs/cpsc5031_hw6/DesignTimeBuild/.dtbcache.v2
